n8n-workflows/contact-form-workflow.json
{
    "name": "PlanWell Contact Form Notifications",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "contact",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-contact",
            "name": "Contact Form Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "mode": "list",
                    "value": ""
                },
                "sheetName": {
                    "__rl": true,
                    "mode": "list",
                    "value": ""
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "First Name": "={{ $json.first_name }}",
                        "Last Name": "={{ $json.last_name }}",
                        "Email": "={{ $json.email }}",
                        "Phone": "={{ $json.phone }}",
                        "Message": "={{ $json.message }}",
                        "Submitted At": "={{ $json.submitted_at }}",
                        "Source": "={{ $json.source }}"
                    }
                },
                "options": {}
            },
            "id": "sheets-contact",
            "name": "Add to Google Sheet",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.4,
            "position": [
                500,
                300
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "sendTo": "david.fei@planwellfp.com, brennan.rhule@planwellfp.com",
                "subject": "🔔 New Contact Form Submission - {{ $json.first_name }} {{ $json.last_name }}",
                "emailType": "html",
                "message": "<h2>New Contact Form Submission</h2>\n<p><strong>Name:</strong> {{ $json.first_name }} {{ $json.last_name }}</p>\n<p><strong>Email:</strong> <a href=\"mailto:{{ $json.email }}\">{{ $json.email }}</a></p>\n<p><strong>Phone:</strong> {{ $json.phone }}</p>\n<p><strong>Message:</strong></p>\n<p style=\"background: #f5f5f5; padding: 15px; border-radius: 5px;\">{{ $json.message }}</p>\n<p><strong>Submitted:</strong> {{ $json.submitted_at }}</p>",
                "options": {}
            },
            "id": "gmail-contact",
            "name": "Send Email Notification",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                750,
                300
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"success\": true, \"message\": \"Contact form received\" }",
                "options": {}
            },
            "id": "respond-contact",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1000,
                300
            ]
        }
    ],
    "connections": {
        "Contact Form Webhook": {
            "main": [
                [
                    {
                        "node": "Add to Google Sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Add to Google Sheet": {
            "main": [
                [
                    {
                        "node": "Send Email Notification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Email Notification": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0
}