n8n-workflows/webinar-registration-workflow.json
{
    "name": "PlanWell Webinar Registration Notifications",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "webinar",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-webinar",
            "name": "Webinar Registration Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "mode": "list",
                    "value": ""
                },
                "sheetName": {
                    "__rl": true,
                    "mode": "list",
                    "value": ""
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "First Name": "={{ $json.first_name }}",
                        "Last Name": "={{ $json.last_name }}",
                        "Email": "={{ $json.email }}",
                        "Agency": "={{ $json.agency }}",
                        "Retirement Timeline": "={{ $json.timeline }}",
                        "Submitted At": "={{ $json.submitted_at }}",
                        "Source": "={{ $json.source }}"
                    }
                },
                "options": {}
            },
            "id": "sheets-webinar",
            "name": "Add to Google Sheet",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.4,
            "position": [
                500,
                300
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "sendTo": "david.fei@planwellfp.com, brennan.rhule@planwellfp.com",
                "subject": "🎓 New Webinar Registration - {{ $json.first_name }} {{ $json.last_name }}",
                "emailType": "html",
                "message": "<h2>New Webinar Registration!</h2>\n<p><strong>Name:</strong> {{ $json.first_name }} {{ $json.last_name }}</p>\n<p><strong>Email:</strong> <a href=\"mailto:{{ $json.email }}\">{{ $json.email }}</a></p>\n<p><strong>Federal Agency:</strong> {{ $json.agency }}</p>\n<p><strong>Retirement Timeline:</strong> {{ $json.timeline }}</p>\n<p><strong>Registered:</strong> {{ $json.submitted_at }}</p>\n<hr>\n<p style=\"color: #666;\">This lead came from the FERS Workshop registration page.</p>",
                "options": {}
            },
            "id": "gmail-webinar",
            "name": "Send Email Notification",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                750,
                300
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"success\": true, \"message\": \"Webinar registration received\" }",
                "options": {}
            },
            "id": "respond-webinar",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1000,
                300
            ]
        }
    ],
    "connections": {
        "Webinar Registration Webhook": {
            "main": [
                [
                    {
                        "node": "Add to Google Sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Add to Google Sheet": {
            "main": [
                [
                    {
                        "node": "Send Email Notification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Email Notification": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0
}